<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <form th:object="${boardSearch}" class="form-inline">
            <div class="form-group mx-sm-1 mb-2">
                <select th:field="*{searchType}" class="form-control">
                    <option value="all">전체</option>
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <option value="writer">작성자</option>
                    <option value="titleAndContent">제목과 내용</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <input type="text" th:field="*{keyword}" class="form-control" placeholder="키워드"/>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>

        </form>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boardDto}" th:onclick="|location.href='@{/board/{id} (id=${board.id})}'|" onmouseover='this.style.backgroundColor="#b8dcee"'
                onmouseout='this.style.backgroundColor=""' style="cursor:hand"
            >

                    <td th:text="${board.id}"></td>
                    <td th:text="${board.title}"></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${#temporals.format(board.updatedTime, 'yyyy-MM-dd HH:mm')}"></td>




            <td><a href="#" th:href="@{/board/edit/{id} (id=${board.id})}"/>수정</td>

            </tr>


            </tbody>


        </table>


        <div>

            <nav aria-label="Page navigation example">
                <ul class="pagination"
                    th:with="start=${T(Math).floor(boardDto.number/10)*10},
                last=(${start + 9 < boardDto.totalPages ? start + 9 : boardDto.totalPages})">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/board(page=0)}" aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>
                    <li class="page-item" th:class="${boardDto.first} ? 'disabled'">
                        <a class="page-link" th:href="${boardDto.first} ? '#' : @{/board(page=${boardDto.number-1})}"
                           aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"
                        th:each="page: ${last>=boardDto.totalPages}  ? ${#numbers.sequence(start,last-1)} : ${#numbers.sequence(start,last)}"
                        th:class="${page== boardDto.number} ? 'page-item active'">
                        <a class="page-link" th:href="@{board(page=${page})}" th:text="${page+1}">
                        </a>
                    </li>
                    <li class="page-item" th:class="${boardDto.last} ? 'disabled'">
                        <a class="page-link" th:href="${boardDto.last} ? '#' : @{/board(page=${boardDto.number+1})}"
                           aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/board(page=${boardDto.totalPages-1})}" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>


    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>