<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
 .fieldError {
 border-color: #bd2130;
 }

</style>
<body>
<div>
    <th>게시글 수정</th>
</div>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form  th:object="${boardForm}" method="post">
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text"  th:field="*{title}" class="form-control"
                   th:class="${#fields.hasErrors('title')}? 'form-control
fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('title')}"
               th:errors="*{title}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="writer">작성자</label>
            <input type="hidden" th:field="*{writer}" class="form-control">
            <td th:text="*{writer}"></td>
            <p th:if="${#fields.hasErrors('writer')}"
               th:errors="*{writer}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="password">패스워드</label>
            <input type="text" th:field="*{password}" class="form-control"
                   placeholder="패스워드를 입력하세요"
                   th:class="${#fields.hasErrors('password')}? 'form-control
fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}"
               th:errors="*{writer}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <input type="text"  th:field="*{content}" class="form-control"
                   th:class="${#fields.hasErrors('content')}? 'form-control
fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('content')}"
               th:errors="*{content}">Incorrect date</p>
        </div>
        <div class="form-group">
            <input type="hidden" th:field="*{id}" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>