<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
 .fieldError {
 border-color: #bd2130;
 }

</style>
<body>
<div class="container-lg">
    <div th:replace="fragments/bodyHeader :: bodyHeader(${username!=null}? ${username} : '')"/>
    <form role="form" action="/board/new" th:object="${boardForm}" enctype="multipart/form-data"
                method="post">
            <div class="form-group">
                <label th:for="title">제목</label>
                <input type="text" th:field="*{title}" class="form-control"
                       placeholder="제목을 입력하세요"
                       th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('title')}"
                   th:errors="*{title}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="writer">작성자</label>
            <input type="text"
                   th:field="*{writer}" class="form-control"
                   placeholder="작성자 이름을 입력하세요" th:readonly="${username!=null} ? 'readOnly'"
                   th:class="${#fields.hasErrors('writer')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('writer')}"
               th:errors="*{writer}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="password" th:if="${username==null} ">패스워드</label>
            <input type="password" th:field="*{password}" class="form-control" th:type="${username!=null} ? 'hidden' : 'password'"
                   placeholder="패스워드를 입력하세요 "
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea style="margin: 0px; height: 254px; width: 100% ;" th:field="*{content}" class="form-control"
                   placeholder="내용을 입력하세요"
                   th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"/>

            <p th:if="${#fields.hasErrors('content')}"
               th:errors="*{content}">Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="content">첨부파일</label>
            <input type="file" multiple="multiple" style="margin: 0px; height: 50px; width: 100% ;" th:field="*{multipartFiles}" class="form-control"
                      placeholder="내용을 입력하세요"
                      th:class="${#fields.hasErrors('multipartFiles')}? 'form-control fieldError' : 'form-control'"/>
            <p th:if="${#fields.hasErrors('multipartFiles')}"
               th:errors="*{multipartFiles}">Incorrect date</p>
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>